
<div class="p-t-20 p-l-10">

    <div layout="row" layout-align="center center">
        <div flex="50">
            <img src="images/pcsd_logo.png" class="p-t-5" style="width:100%;">
        </div>
    </div>
    <h4 class="align-center">
        <strong>Republic of the Philippines</strong> <br>
        <small>Republic Act 7611</small><br>
        <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
    </h4>

    <hr>

    <!-- tittle -->
    <h3 ng-if="application.data.application.application_type !=='renew'" class="align-center m-t-20 m-b-10">APPLICATION FOR <span class="col-green">NEW</span> CHAINSAW REGISTRATION</h3>
    <h3 ng-if="application.data.application.application_type == 'renew'" class="align-center m-t-20 m-b-10">APPLICATION FOR <span class="col-blue">RENEWAL</span> OF CHAINSAW REGISTRATION</h3>
    <hr>
    <div layout="row" layout-align="end">
        <div layout="column" layout-align="center center">
            <div><strong style="text-decoration: underline"> {{application.date.split(' ')[0] | date : 'MMMM d, yyyy'}} </strong></div>
            <div>(date)</div>
        </div>
        <div class="p-r-50"></div>
    </div>
    <hr>
    <br>
    <h4>
        NELSON P. DEVANADERA <br>
        <small>Executive Director</small><br>
        <small>Palawan Council for Sustainable Development Staff</small>
    </h4>

    <br>
    <P>
        <span class="p-l-40"></span>I/We {{application.data.application.applicant}}, resident of {{application.data.application.applicant_address}},
        applies for a chainsaw Certificate of Registration. I am applying as {{application.data.application.nature}}
    </P>

    <hr>
    <div layout="row" layout-align="center center">
        <md-card>
            <md-card-content>
                <h4 class="align-center">DETAILED SPECIFICATIONS</h4>
                <hr>
                <div>
                    Brand: <strong>{{application.data.application.chainsaw.brand}}</strong><br>
                    Model: <strong>{{application.data.application.chainsaw.model}}</strong><br>
                    Engine Type and Horsepower: <strong>{{application.data.application.chainsaw.engine}}</strong><br>
                    Maximum Length of Guidebar: <strong>{{application.data.application.chainsaw.guidebar_length}}</strong><br>
                    Serial Number: <strong>{{application.data.application.chainsaw.serial}}</strong><br>
                    Other Distinguishing Marks, If any: <strong>{{application.data.application.chainsaw.marks}}</strong><br>
                    Name of Dealer: <strong>{{application.data.application.chainsaw.dealer_name}}</strong><br>
                    Address: <strong>{{application.data.application.chainsaw.dealer_address}}</strong><br>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <hr>

    <p>
        <span class="p-l-40"></span>
        The requirements needed for my application, as indicated at the back hereof, are hereby submitted for your evaluation. I agree that the filing of this application does not authorize me to use, or in any manner operate the chainsaw unit until after the Certificate of Registration has been issued.
    </p>

    <p>
        <span class="p-l-40"></span>
        Further I understand that any false representation or declaration embodied in this application or submitted requirements shall be a ground for the denial of this application without prejudice to the filing of appropriate cases.
    </p>

    <div layout="row" layout-align="end">
        <div layout="column" layout-align="center center">
            <div><strong style="text-decoration: underline"> {{application.data.application.applicant}} </strong></div>
            <div>(Applicant)</div>
            <div class="m-t-20"> <strong>TIN : {{application.data.application.tin_no}}</strong> </div>
        </div>
        <div class="p-r-50"></div>
    </div>
    <hr>
    
    <!-- Received Stamp -->
    <div ng-if="application.status > 0" >
        <md-card>
            <md-card-content>
                Received by : <strong>{{ application.data.received.staff }}</strong> 
                , on <strong>{{application.data.received.date}}</strong>
            </md-card-content>
        </md-card>
    </div>

    <!-- Rejected Stamp -->
    <div ng-if="application.data.rejected != undefined " >
        <md-card>
            <md-card-content>
                Rejected by : <strong>{{ application.data.rejected.staff }} </strong> 
                Reason : <strong>{{ application.data.rejected.message }} </strong> 
                , on <strong>{{application.data.rejected.date}}</strong>
            </md-card-content>
        </md-card>
    </div>

    <!-- Accepted Stamp -->
    <div ng-if="application.data.accepted != undefined " >
        <md-card>
            <md-card-content>
                Processed by : <strong>{{ application.data.accepted.staff }} </strong> 
                , on  <strong>{{application.data.accepted.date}}</strong>
            </md-card-content>
        </md-card>
    </div>

    <!-- Approved Stamp -->
    <div ng-if="application.data.approved != undefined " >
        <md-card>
            <md-card-content>
                Reviewed by : <strong>{{ application.data.approved.staff }} </strong> 
                , on  <strong>{{application.data.approved.date}}</strong>
            </md-card-content>
        </md-card>
    </div>

    <!-- Recommended Stamp -->
    <div ng-if="application.data.recommended != undefined " >
        <md-card>
            <md-card-content>
                Recommended by : <strong>{{ application.data.recommended.staff }} </strong> 
                , on  <strong>{{application.data.recommended.date}}</strong>
            </md-card-content>
        </md-card>
    </div>

    <!-- Acknowledged Stamp -->
    <div ng-if="application.data.acknowledged != undefined " >
        <md-card>
            <md-card-content>
                Approved by : <strong>{{ application.data.acknowledged.staff }} </strong>
                , on  <strong>{{application.data.acknowledged.date.split(' ')[0]}}</strong>
                <br>
                Expiration : <strong>{{application.expiration | date}}</strong>
            </md-card-content>
        </md-card>
    <md-divider class="m-t-20 m-b-20"></md-divider>

</div>