<div layout="row" layout-align="center center" >
    
    
    <md-card flex-xs="90" flex-sm="80" flex-md="75" flex-lg="70" layout="row">
        <md-card-content flex layout="column" >
            <div layout-gt-sm="row" layout-sm="column" layout-align="center center">
                <div flex-gt-sm="10" flex-xs="50" > 
                    <img src="images/pcsd_logo.png" alt="Palawan Counsil for Sustainable Development" width="80%">
                </div>
                <div flex>
                    <h3 class="col-grey">Palawan Council for Sustainable Development</h3>
                    <h5 class="col-blue"><cite>Digital Permit</cite></h5>
                </div>
            </div>
            <md-divider class="m-t-10"></md-divider>
            <div class="p-t-20 p-l-20 p-r-20" >
                <h3 class="col-green md-title">Local Transport Permit</h3>
                <strong><small>Permittee :</small> {{application.data.application.applicant}} </strong> <br>
                <strong><small>Contact :</small> {{application.data.application.contact}} </strong> <br>
                <strong><small>Required Permit Type :</small> {{application.data.application.required_permit_type}} </strong> <br>
                <strong><small>Required Permit :</small> {{application.data.application.required_permit}} </strong> <br>
                
                <strong><small>Purpose :</small> 
                    <span ng-if="application.data.application.purpose.commercial">commercial</span> 
                    <span ng-if="application.data.application.purpose.research">research</span> 
                    <span ng-if="application.data.application.purpose.exhibit">exhibit</span> 
                    <span ng-if="application.data.application.purpose.other != null">{{application.data.application.purpose.other}}</span> 
                </strong><br>
                <strong><small>Place of Origin :</small> 
                    {{application.data.application.place_of_origin.barangay}}, {{application.data.application.place_of_origin.municipality}} </strong> <br>
            
                <strong><small>Collertor or Supplier :</small> 
                    {{application.data.application.collector_or_supplier.name}},
                    {{application.data.application.collector_or_supplier.address}}
                </strong> <br>
                <strong><small>Specimen :</small></strong>
                <ol ng-if="application.data.application.specimen.length > 0">
                    <li ng-repeat=" x in application.data.application.specimen"> 
                        {{x.species_qty}}{{x.species_unit}} of {{x.species_des}} {{x.species_name}} in {{x.species_boxes}} {{(x.species_boxes > 1)?'boxes':'box'}}
                    </li>
                </ol>
                <br>
                <strong><small>Shipper :</small> {{application.data.application.shipper.name}}, {{application.data.application.shipper.address}} </strong> <br>
                <br>
                <strong><small>Recipient :</small> {{application.data.application.recipient.name}}, {{application.data.application.recipient.address}} </strong> <br>
                <br>
                <strong><small>Via :</small> 
                    <span ng-if="application.data.application.via.aircraft">aircraft</span> 
                    <span ng-if="application.data.application.via.vessel">vessel</span> 
                </strong><br>
                <strong><small>Place of Transport :</small> {{application.data.application.place_of_transport}} </strong> <br>
                <strong><small>Date of Transport :</small> {{application.data.application.date_of_transport.split(' ')[0] | date}} </strong> <br>
                
                <!-- Received Stamp -->
                <div ng-if="application.status > 0" ng-init="staff = application.data.received.staff">
                        <hr class="p-t-10">
                        Received by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }}</strong> 
                        <br>
                        Date Received : <strong>{{application.data.received.date.split(' ')[0]}}</strong>
                    </div>
                
                    <!-- Rejected Stamp -->
                    <div ng-if="application.data.rejected != undefined " ng-init="staff = application.data.rejected.staff">
                        <hr class="p-t-10">
                        Rejected by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }}</strong> 
                        <br>
                        Remark : <strong>{{application.data.rejected.remark}}</strong>
                        <br>
                        Date Rejected : <strong>{{application.data.rejected.date.split(' ')[0]}}</strong>
                    </div>
                
                    <!-- Accepted Stamp -->
                    <div ng-if="application.data.accepted != undefined " ng-init="staff = application.data.accepted.staff">
                        <hr class="p-t-10">
                        
                        <md-card >
                            <md-card-title>
                                <md-card-title-text>
                                <span class="md-headline">Certificate of inspection</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout="row" layout-align="space-between">
                                <div flex layout="column">
                                    <div flex>
                                        Personnel : <strong>{{application.data.certificate_of_inspection.personnel}}</strong> 
                                    </div>
                                    <div flex>
                                        Remark :<strong>{{application.data.certificate_of_inspection.remark}}</strong> 
                                    </div>
                                </div>
                                <div flex layout="column">
                                    <div flex>
                                        Location : <strong>{{application.data.certificate_of_inspection.location}}</strong> 
                                    </div>
                                    <div flex>
                                        Latitude : <strong>{{application.data.certificate_of_inspection.latitude}}</strong>  
                                    </div>
                                    <div flex>
                                        Longitude : <strong>{{application.data.certificate_of_inspection.longitude}}</strong> 
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                
                        <md-card class="m-b-20">
                            <md-card-title>
                                <md-card-title-text>
                                <span class="md-headline">Payment Slip</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout="row" layout-align="space-between">
                                <div flex layout="column">
                                    <div flex>
                                        O.R Number : <strong>{{application.data.payment_slip.or_number}}</strong> 
                                    </div>
                                    <div flex>
                                        Ammount :<strong>{{application.data.payment_slip.ammount}}</strong> 
                                    </div>
                                </div>
                                <div flex layout="column">
                                    <div flex>
                                        Date Issued : <strong>{{application.data.payment_slip.issued}}</strong> 
                                    </div>
                                    <div flex>
                                        Issued By : <strong>{{application.data.payment_slip.issued_by}}</strong> 
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                
                
                        Accepted by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }}</strong> 
                        <br>
                        Remark : <strong>{{application.data.accepted.remark}}</strong>
                        <br>
                        Date Accepted : <strong>{{application.data.accepted.date.split(' ')[0]}}</strong>
                    </div>
                
                    <!-- Approved Stamp -->
                    <div ng-if="application.data.approved != undefined " ng-init="staff = application.data.approved.staff">
                        <hr class="p-t-10">
                        Approved by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }}</strong> 
                        <br>
                        Remark : <strong>{{application.data.approved.remark}}</strong>
                        <br>
                        Date Approved : <strong>{{application.data.accepted.date.split(' ')[0]}}</strong>
                    </div>
                
                    <!-- Recommended Stamp -->
                    <div ng-if="application.data.recommended != undefined " ng-init="staff = application.data.recommended.staff">
                        <hr class="p-t-10">
                        Recommended by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }}</strong> 
                        <br>
                        Remark : <strong>{{application.data.recommended.remark}}</strong>
                        <br>
                        Date recommended : <strong>{{application.data.accepted.date.split(' ')[0]}}</strong>
                    </div>
                
                    <!-- Acknowledged Stamp -->
                    <div ng-if="application.data.acknowledged != undefined " ng-init="staff = application.data.acknowledged.staff">
                        <hr class="p-t-10">
                        Acknowledged by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }} </strong>
                        <br>
                        Remark : <strong>{{application.data.acknowledged.remark}}</strong>
                        <br>
                        Date acknowledged : <strong>{{application.data.accepted.date.split(' ')[0]}}</strong>
                    </div>
                    <md-divider class="m-t-20 m-b-20"></md-divider>

                    <!-- used stamp -->
                    <md-card class="m-b-20">
                        <md-card-title>
                            <md-card-title-text>
                            <span class="md-headline">Permit Usage</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="row" layout-align="space-between">
                            <div flex layout="column" ng-if="application.data.used != undefined" ng-init="staff = application.data.used.staff">
                                <div flex>
                                    Date Used : <strong> {{application.data.used.date.split(' ')[0]}} </strong> 
                                </div>
                                <div flex>
                                    Processed by : <strong>{{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }}</strong> 
                                </div>
                                <div flex>
                                    Remark : <strong>{{application.data.used.remark}}</strong> 
                                </div>
                            </div>

                            <div ng-show=" is_loading " layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <form  ng-hide=" is_loading || application.data.used != undefined " name="permit_used_form" ng-init="remark='complete'" >
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Remark</label>
                                    <input ng-model="remark" required>
                                </md-input-container>
                                <md-button type="submit" ng-disabled="permit_used_form.$invalid" ng-click="mark_permit_as_used(remark)" class="md-raised md-primary">used.</md-button>
                            </form>
                        </md-card-content>
                    </md-card>
                    
                    
            </div>
        </md-card-content>
    </md-card>  
    
    

</div>