<md-content layout="row" layout-align="center center" ng-style="{height:iframeHeight}">
    <div flex="60" class="m-t--40">
        <img  src="images/brain_logo2.png" width="50%" style="margin-left: 25%;" alt="PCSDS BRAIN SYSTEMS">
        <h4 class="col-red align-center font-18 m-t-20 m-b-10"> {{system_message}} </h4>
        <md-divider class="m-b-20"></md-divider>
        <div ng-show="is_data_valid" layout="row" layout-align="center center">
            <div ng-if="is_loading">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <cite>Signing in...</cite>
            </div>
            <form name="enforcer_log_form" ng-if="!is_loading">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Enforcer ID</label>
                    <input ng-model="enforcer_id" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input ng-model="enforcer_password" type="password" required>
                </md-input-container>
                <md-button ng-disabled="enforcer_log_form.$invalid" type="submit" ng-click="enfocer_login(enforcer_id,enforcer_password)" class="md-raised md-primary">Open</md-button>
            </form>
        </div>
    </div>
</md-content>